.container {
    display: flex;
    flex-direction: column;
    margin: 6%;
    border: medium;
    border-width: thin;
    border-color: lightgray;
    box-shadow: 5px 5px 6px grey;
    align-content: center;
}

.container__firstrow {
    display: flex;
    border: solid;
    border-width: thin;
    border-color: lightgray;
}

.container__secondrow {
    display: flex;
    border: solid;
    border-width: thin;
    border-color: lightgray;
}

.firstrow__first {
    padding: 1%;
    flex-basis: 13%;
}

.firstrow__second {
    padding: 1%;
    flex-basis: 85%;
}

.firstrow__third {
    padding: 1%;
    flex-basis: 2%;
}

.secondrow__first {
    padding: 1%;
    flex-basis: 60%;
}

.secondrow__second {
    padding: 1%;
    flex-basis: 40%;
    background-color: #efeef0;
}

ul.breadcrumb li {
    display: inline;
    font-size: 110%;
}

ul.breadcrumb li+li:before {
    padding: 1%;
    content: "/";
}
