body {
    display: flex;
    background-image: url('/html/images/background.jpg');

}

.p--caption {
    font-size: small;
}

.p--color {
    color: grey;
}

.co-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 6%;
    border: medium;
    border-width: thin;
    border-color: lightgray;
    box-shadow: 5px 5px 6px grey;
    align-content: center;
    background-color: white;
}

.co-container__firstrow {
    display: flex;
    border: solid;
    border-width: thin;
    border-color: lightgray;
}

.co-container__secondrow {
    display: flex;
}

.firstrow__first {
    padding: 1%;
    flex-basis: 13%;
}

.firstrow__second {
    padding: 1%;
    flex-basis: 85%;
}

.firstrow__third {
    padding: 1%;
    flex-basis: 2%;
}

.secondrow__first {
    padding: 1%;
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}

.secondrow__second {
    padding: 1%;
    flex-basis: 40%;
    background-color: #efeef0;
    display: flex;
    flex-direction: column;
}

.first__wallet {
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: solid;
    border-width: thin;
    border-color: lightgray;
}

.first__cardImg {
    display: flex;
    flex-direction: row;
    padding: 1%;
    justify-content: space-between;
}

.img {
    max-width: 100%;
    max-height: 100%;
}

.first__cardImg--discover {
    flex-basis: 28%;
    padding: 2%;
}

.first__cardImg--master {
    flex-basis: 28%;
    padding: 2%;
    background-color: #efeef0;
}

.first__cardImg--visa {
    flex-basis: 28%;
    padding: 2%;
}

.first__newCard {
    padding-top: 3%;
    padding-bottom: 1%;
    border-bottom: solid;
    border-width: thin;
    border-color: lightgray;
}

.first__cardDetails {
    padding-top: 2%;
    padding-left: 25%;
    padding-right: 25%;
}

ul.breadcrumb li {
    display: inline;
    font-size: 110%;
}

ul.breadcrumb li+li:before {
    padding: 1%;
    content: "/";
}

input[type=text1],
select {
    width: 100%;
    padding: 2%;
    margin-top: 4%;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=text2],
select {
    width: 100%;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: inline-;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=text3],
select {
    width: 47%;
    padding: 2%;
    margin-top: 2%;
    margin-right: 4%;
    margin-bottom: 2%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=text4],
select {
    width: 47%;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 2%;
    margin-top: 6%;
    margin-bottom: 5%;
    border: none;
}

.second__product {
    border-bottom: solid;
    border-width: thin;
    border-color: lightgray;
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 2%;
}

.second__product--lastProduct {
    border-bottom: solid;
    border-width: thin;
    border-color: lightgray;
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 30%;
}

.img--size {
    height: 100%;
    width: 100%;
}

.product__size {
    flex-basis: 15%;
    background-color: lightgray;
    padding: 1%;
}

.product__details {
    padding-left: 1%;
    flex-basis: 80%;
}

.product__price {
    padding: 1%;
    flex-basis: 15%;
}

.second__pricing{
    display: flex;
    flex-direction: column;
    border-bottom: solid;
    border-width: thin;
    border-color: lightgray;
    padding-top: 2%;
    padding-bottom: 2%;
}

.pricing__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.second__total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
}